{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="row container-fluid">

    <div class="col">

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dash">Dashboard</a></li>


        </ol>
    </div>


    <div class="col-sm-12 mt-2">
        <h2>
            Dashboard

        </h2>
    </div>
</div>










<div class="row container-fluid">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Total Users : {{ count }} </h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Total Data : {{ data_counter }} </h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Total City : {{ city_counter }} </h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Total Outlets : {{ out_counter }} </h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}