{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="row container-fluid">

    <div class="col">

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dash">Dashboard</a></li>


        </ol>
    </div>


    <div class="col-sm-12 mt-2">
        <h2>
            Dashboard

        </h2>
    </div>
</div>









<div class="row container-fluid">
    <div class="col-md-6 col-lg-3">
        <div class="card report-card">
            <div class="card-body">
                <div class="row d-flex justify-content-center">
                    <div class="col">
                        <h2 class="text-dark mb-1 font-weight-bold">Total User </h2>

                        <h3 class="my-2">{{count}}</h3>


                    </div>

                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->

</div>


<div class="row container-fluid">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Users</h5>
          <p class="card-text">{{ count }}</p>
         
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
</div>

{% endblock %}