{% extends 'base.html' %}
{% load static %}

{% block content%}

<div class="row">
    <div class="col-sm-12 ml-4 mt-2">
        <h2>
            Raw Data

        </h2>

    </div>
</div>

<div class="row container-fluid">
    <div class="col-md-10 mt-4">
        <form action="">
            <div class="row">
                <div class="col-sm-2">
                    <input class="form-control" type="text" value="" name="search"
                        placeholder="Search by name or code..." id="example-tel-input">
                </div>

                
      
                <div class="col-md-2">

                    <button type="button" class="btn btn-info waves-effect waves-light">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-2 mt-4 text-right">
        <a href="{% url 'raw_export_data' %}" class="btn btn-danger waves-effect waves-light"><i
            class="fas fa-arrow-circle-down"></i> Export</a>
    </div>
</div>


<div class="row container-fluid">
    <div class="col-md-12 mt-2">
        <div class="table-rep-plugin">
            <div class="table-responsive mb-0" data-pattern="priority-columns">
                <table id="tech-companies-1" class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>S.NO.</th>
                            <th>User</th>
                            <th>Code</th>
                            <th>Outlet</th>
                            <th>MO Name</th>
                           
                            <th>Uniform</th>
                            <th>Grooming</th>
                            <th>Time</th>
                           

                        </tr>
                    </thead>
                    {% for u in data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ u.user }}</td>
                        <td>{{ u.username }}</td>
                        <td>{{ u.outlet }}</td>
                        <td>{{ u.moname }}</td>
                        <td>{{ u.uniform }}</td>
                        <td>{{ u.grooming }}</td>
                        <td>{{ u.ts }}</td>
                       
                    </tr>
                    {% endfor %}
                    <tbody>


                    </tbody>
                </table>
                
                <br />
                <div class="row">
                    <div class="col-sm-12">

                        <div class="col-sm-12 col-md-7" style="margin-right: 400px;">
                            <div class="dataTables_paginate paging_simple_numbers" id="data-table_paginate">
                                <ul class="pagination">
                                    {% if data.has_previous %}
                                    <li class="page-item"><a class="page-link"
                                            href="?page={{ data.previous_page_number }}">Previous</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                                    {% endif %}

                                    {% for page_num in data.paginator.page_range %}
                                    <li class="page-item {% if page_num == data.number %}active{% endif %}">
                                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                    </li>
                                    {% endfor %}


                                    {% if data.has_next %}
                                    <li class="page-item"><a class="page-link"
                                            href="?page={{ data.next_page_number }}">Next</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#">Next</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}